In [39]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
plt.rcParams['figure.figsize'] = (8,6)
plt.rcParams['font.size'] =14

In [7]:
waterdep = pd.read_csv('waterdependent.csv', header = 0,index_col = 0)
type(waterdep)
waterdep.columns

Index([u'amount_tsh', u'date_recorded', u'funder', u'gps_height', u'installer',
       u'longitude', u'latitude', u'wpt_name', u'num_private', u'basin',
       u'subvillage', u'region', u'region_code', u'district_code', u'lga',
       u'ward', u'population', u'public_meeting', u'recorded_by',
       u'scheme_management', u'scheme_name', u'permit', u'construction_year',
       u'extraction_type', u'extraction_type_group', u'extraction_type_class',
       u'management', u'management_group', u'payment', u'payment_type',
       u'water_quality', u'quality_group', u'quantity', u'quantity_group',
       u'source', u'source_type', u'source_class', u'waterpoint_type',
       u'waterpoint_type_group'],
      dtype='object')

In [9]:
waterdep.head(10)
waterdep.shape

(59400, 39)

In [11]:
waterindep = pd.read_csv('waterindependent.csv', header = 0,index_col = 0)

In [12]:
waterindep.head(10)
waterindep.shape
waterindep.head(10)
waterindep.status_group.value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
dtype: int64

In [13]:
waterindep.shape
waterindep.columns

Index([u'status_group'], dtype='object')

In [14]:
waterjoined = waterdep.join(waterindep, how = 'left', sort =False)

In [15]:
waterjoined.head(10)

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000,3/14/11,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
8776,0,3/6/13,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
34310,25,2/25/13,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
67743,0,1/28/13,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
19728,0,7/13/11,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
9944,20,3/13/11,Mkinga Distric Coun,0,DWE,39.172796,-4.765587,Tajiri,0,Pangani,...,salty,salty,enough,enough,other,other,unknown,communal standpipe multiple,communal standpipe,functional
19816,0,10/1/12,Dwsp,0,DWSP,33.362410,-3.766365,Kwa Ngomho,0,Internal,...,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
54551,0,10/9/12,Rwssp,0,DWE,32.620617,-4.226198,Tushirikiane,0,Lake Tanganyika,...,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,non functional
53934,0,11/3/12,Wateraid,0,Water Aid,32.711100,-5.146712,Kwa Ramadhan Musa,0,Lake Tanganyika,...,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
46144,0,8/3/11,Isingiro Ho,0,Artisan,30.626991,-1.257051,Kwapeto,0,Lake Victoria,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

In [16]:
waterjoined.isnull().sum()
waterjoined.fillna(value='NA', inplace = True)
waterjoined.isnull().sum()

amount_tsh               0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
num_private              0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
public_meeting           0
recorded_by              0
scheme_management        0
scheme_name              0
permit                   0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_type              0
source_class             0
waterpoint_type          0
waterpoint_type_group    0
status_group             0
dtype: int64

In [17]:
waterjoined.funder.value_counts()

Government Of Tanzania            9084
NA                                3635
Danida                            3114
Hesawa                            2202
Rwssp                             1374
World Bank                        1349
Kkkt                              1287
World Vision                      1246
Unicef                            1057
Tasaf                              877
District Council                   843
Dhv                                829
Private Individual                 826
Dwsp                               811
0                                  777
Norad                              765
Germany Republi                    610
Tcrs                               602
Ministry Of Water                  590
Water                              583
Dwe                                484
Netherlands                        470
Hifab                              450
Adb                                448
Lga                                442
Amref                              425
Fini Water                         393
Oxfam                              359
Wateraid                           333
Rc Church                          321
                                  ...
Mitema                               1
Tasaf/tlc                            1
Robert Kampala                       1
Japan  Food Aid Counter Part         1
Dqnida                               1
Grazie Grouppo Padre Fiorentin       1
Louise Elucas Sala                   1
Mzee Lesilali                        1
Said Hashim                          1
Suasa                                1
Ministry Of Agricultura              1
Village Contributio                  1
Village Water Commission             1
Afroz Ismail                         1
Fpct Mulala                          1
Lake Tanganyika Basin                1
Cpps Mission                         1
Ndorobo Tours                        1
Dwe/rudep                            1
Yaole                                1
Simango Kihengu                      1
Totaland Care                        1
Old Nyika Company                    1
If                                   1
Farm-africa                          1
Hhesawa                              1
San Pellegrino                       1
Maerere                              1
Plan Tanzania                        1
Owner Pingo C                        1
dtype: int64

In [18]:
waterjoined.columns
waterjoined.waterpoint_type.value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
dtype: int64

In [19]:
waterjoined.amount_tsh.value_counts()

0.00         41639
500.00        3102
50.00         2472
1000.00       1488
20.00         1463
200.00        1220
100.00         816
10.00          806
30.00          743
2000.00        704
250.00         569
300.00         557
5000.00        450
5.00           376
25.00          356
3000.00        334
1200.00        267
1500.00        197
6.00           190
600.00         176
4000.00        156
2400.00        145
2500.00        139
6000.00        125
7.00            69
8000.00         61
750.00          59
40.00           59
10000.00        57
12000.00        51
             ...
11000.00         2
520.00           2
590.00           2
16000.00         2
800.00           2
4500.00          2
26000.00         2
13000.00         2
9.00             1
120000.00        1
12.00            1
5400.00          1
8500.00          1
350000.00        1
170000.00        1
6300.00          1
138000.00        1
38000.00         1
70000.00         1
26.00            1
306.00           1
250000.00        1
0.25             1
200000.00        1
53.00            1
59.00            1
60000.00         1
900.00           1
220.00           1
1400.00          1
dtype: int64

In [20]:
waterjoined.water_quality.value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
dtype: int64

In [21]:
waterjoined.quality_group.value_counts()

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
dtype: int64

In [59]:
waterjoined.payment.value_counts()

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
dtype: int64

In [61]:
waterjoined.payment_type.value_counts()

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
dtype: int64

In [62]:
waterjoined.scheme_management.value_counts()

VWC                 36793
WUG                  5206
NA                   3877
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
dtype: int64

In [63]:
waterjoined.scheme_name.value_counts()

NA                                                28166
K                                                   682
None                                                644
Borehole                                            546
Chalinze wate                                       405
M                                                   400
DANIDA                                              379
Government                                          320
Ngana water supplied scheme                         270
wanging'ombe water supply s                         261
wanging'ombe supply scheme                          234
Bagamoyo wate                                       229
I                                                   229
Uroki-Bomang'ombe water sup                         209
N                                                   204
Kirua kahe gravity water supply trust               193
Machumba estate pipe line                           185
Makwale water supplied sche                         166
Kijiji                                              161
S                                                   154
mtwango water supply scheme                         152
Handeni Trunk Main(H                                152
Losaa-Kia water supply                              152
Mkongoro Two                                        147
Roman                                               139
Mkongoro One                                        128
Maambreni gravity water supply                      125
Lyamungo umbwe water supply                         120
Kirua kahe pumping water trust                      113
Ki                                                  107
                                                  ...
Nameqhuwadiba                                         1
Miangalua water supply                                1
Tove - Mtwango                                        1
Huma                                                  1
Nyamtukuza Point sources water supplier supply        1
Kayugi spring source                                  1
Mradi wa maji wa isevya                               1
Pipe scheme Source                                    1
Kasuguti irrigation scheme                            1
Mkuini paralle line                                   1
Kirongwe water supply                                 1
Kitangwi Water Supply                                 1
Mnazi moja                                            1
Bujuruga Spring b                                     1
Toronto-estate water                                  1
Merali line                                           1
Kirwa  water suply                                    1
MRDP                                                  1
Mtir                                                  1
Mkola Water Supply                                    1
Rural Drinking Water Drinking Supply - Japan          1
Thobias Main Branch line                              1
BL Orkugu                                             1
JongoJ                                                1
CSPD PROJECT                                          1
Moroga                                                1
Burieni water supply                                  1
Kashishi water supply                                 1
Jongom                                                1
MSRRWS                                                1
dtype: int64

In [79]:
waterjoined.gps_height.value_counts()
waterjoined.construction_year.value_counts()
waterjoined.date_recorded.value_counts()
waterjoined.population.value_counts()

0       21381
1        7025
200      1940
150      1892
250      1681
300      1476
100      1146
50       1139
500      1009
350       986
120       916
400       775
60        706
30        626
40        552
80        533
450       499
20        462
600       438
230       388
75        289
1000      278
800       269
90        265
130       264
25        255
320       249
35        245
360       222
140       215
        ...
8848        1
628         1
4520        1
468         1
693         1
725         1
789         1
821         1
5300        1
3127        1
2345        1
3031        1
886         1
392         1
424         1
2807        1
726         1
694         1
2569        1
4788        1
662         1
4660        1
406         1
1032        1
1160        1
3241        1
1960        1
1685        1
2248        1
1439        1
dtype: int64

In [23]:
waterjoined.population.value_counts()

0       21381
1        7025
200      1940
150      1892
250      1681
300      1476
100      1146
50       1139
500      1009
350       986
120       916
400       775
60        706
30        626
40        552
80        533
450       499
20        462
600       438
230       388
75        289
1000      278
800       269
90        265
130       264
25        255
320       249
35        245
360       222
140       215
        ...
8848        1
628         1
4520        1
468         1
693         1
725         1
789         1
821         1
5300        1
3127        1
2345        1
3031        1
886         1
392         1
424         1
2807        1
726         1
694         1
2569        1
4788        1
662         1
4660        1
406         1
1032        1
1160        1
3241        1
1960        1
1685        1
2248        1
1439        1
dtype: int64

In [25]:
waterjoined.management.value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
dtype: int64

In [27]:
waterjoined.management_group.value_counts()

user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
dtype: int64

In [29]:
waterjoined.region.value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
dtype: int64

In [31]:
waterjoined.district_code.value_counts()

1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
dtype: int64

In [34]:
waterjoined.public_meeting.value_counts()

True     51011
False     5055
NA        3334
dtype: int64

In [42]:
waterjoined.management.value_counts().plot(kind='pie')